{% extends "base.html" %}

{% block body %}
<h1>Form 1</h1>
<form>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <div>
            <label for="checkbox-1">Checkbox 1</label>
            <input type="checkbox" id="checkbox-1" name="checkbox-1">
        </div>
        <div>
            <label for="checkbox-2">Checkbox 2</label>
            <input type="checkbox" id="checkbox-2" name="checkbox-2">
        </div>
    </div>
    <div>
        <div>
            <label for="radio-1">Radio 1</label>
            <input type="radio" id="radio-1" name="radio">
        </div>
        <div>
            <label for="radio-2">Radio 2</label>
            <input type="radio" id="radio-2" name="radio">
        </div>
    </div>
    <input type="submit">
</form>
<h1>Form 2</h1>
<form name="form-2">
    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="BE">België</option>
            <option value="DE">Deutschland</option>
            <option value="NL">Nederland</option>
        </select>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div id="prefilled-container" style="display: none;">
        <label for="prefilled">Prefilled</label>
        <input type="text" id="prefilled" name="prefilled" value="prefilled">
    </div>
    <div id="lazy-prefilled-container" style="display: none;">
        <label for="lazy-prefilled">Prefilled</label>
        <input type="text" id="lazy-prefilled" name="lazy-prefilled">
    </div>
    <button type="submit">Submit</button>
</form>
<script>
document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function(){
        document.getElementById("prefilled-container").style = "display: block;"
        document.getElementById("lazy-prefilled-container").style = "display: block;"
        document.getElementById("lazy-prefilled").value = "prefilled"
    }, 400)
});
</script>
{% endblock body %}
